.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__menu-hamburguer {
    align-content: center;
    text-align: center;
    height: 72px;
}

.cabecalho__menu-hamburguer {
    width: 36px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}



.container__botao:checked ~ .container__menu-hamburguer .cabecalho__menu-hamburguer {    
    background-image: url("../images/Menu\ Aberto.svg");
    background-position: center;
    height: 100%;
    padding-block: 0;
}


.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo,
.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        justify-content: space-around;
    }

    .container__menu-hamburguer,
    .container__imagem-transparente,
    .opcoes__botao {
        display: none;
    }

    .container__titulo,
    .container__titulo-negrito {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .containr__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
    }

    .item__link {
        color: var(--preto);
        text-transform: uppercase;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        top: 84%;
        width: auto;
    }

    .opcoes__botao:checked + label .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:active > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }

    .lista-menu__item:active {
        background: var(--azul-degrade);
    }
}